$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #fce9c0;
$yellow: #edbc0b;
$brown: #886006;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

#about-div {
  margin-top: 70px;
  padding-top: 130px;
  margin-bottom: 88px;
}

.about-bkgr {
  background-color: $white;
  -moz-box-shadow: $shadow-big;
  -webkit-box-shadow: $shadow-big;
  box-shadow: $shadow-big;
  padding: 48px 40px 56px 40px !important;
  transition: 0.3s;

  #about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.about-intro {
  display: inline-block;
  margin-left: 32px;
  margin-bottom: 40px;
  padding-left: 16px;
  border-left: 2px solid $yellow;
  width: 180px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $dark;
  span {
    color: $yellow;
    font-weight: 500;
  }
}

.about-body {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $dark;
  margin-right: 16px;
  span {
    font-weight: 500;
    color: $green;
  }
}

.about-footer {
  font-style: italic;
  font-weight: 600;
  color: $moss;
}

.profile-pic-box {
  margin-top: -80px;
  margin-right: -40px;
  img {
    width: 100%;
  }
}

.experiences-box {
  text-align: end;
  margin-top: 40px;

  .experiences-header {
    color: $yellow;
    font-size: 20px;
    font-weight: 600;
  }

  .experiences-title {
    margin-top: 24px;
    color: $dark;
    font-size: 14px;
    font-weight: 500;
  }

  .experiences-loc {
    color: $dark;
    font-size: 12px;
    font-weight: 300;
  }

  .experiences-time {
    color: $moss;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
  }
}

.languages-box {
  margin-top: 32px;

  .languages-header {
    color: $yellow;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .languages-div {
    display: inline;
    margin-right: 24px;
    white-space: nowrap;
    text-align: end;
  }

  .languages-title {
    display: inline-block;
    margin-top: 16px;
    width: 93px;
    color: $dark;
    font-size: 16px;
    font-weight: 300;
    margin-right: 8px;
  }

  .languages-gouge-100 {
    display: inline-block;
    width: 20%;
    height: 10px;
    background-color: $green;
  }
  .languages-gouge-75 {
    display: inline-block;
    width: 15%;
    height: 10px;
    background-color: $green;
  }
  .languages-gouge-50 {
    display: inline-block;
    width: 10%;
    height: 10px;
    background-color: $green;
  }
  .languages-gouge-50-off {
    display: inline-block;
    width: 10%;
    height: 10px;
    border: 1px solid $green;
  }
  .languages-gouge-25-off {
    display: inline-block;
    width: 5%;
    height: 10px;
    border: 1px solid $green;
  }
}

.values-box {
  margin-top: 32px;
  .values-header {
    color: $yellow;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .values-body {
    margin: 16px 24px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      display: flex;
      color: $dark;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      margin-bottom: 16px;
      max-width: 45%;
      flex: 0 0 45%;
    }
  }
}
