@import url("https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold,extra-bold,black|Stylish");

$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #fce9c0;
$yellow: #edbc0b;
$brown: #886006;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

body::-webkit-scrollbar {
  // display: none; /* Safari and Chrome */
}

body {
  font: 100% $primary-font;
  background-color: $moss !important;
  // -ms-overflow-style: none; /* Internet Explorer 10+ */
  // scrollbar-width: none; /* Firefox */
  color: $dark;
  overflow-x: hidden !important;
  overflow-y: overlay;
}

#outer-div {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0px;
  }
}

#landing-bkgr {
  z-index: 5;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $white;
}

.row {
  margin-left: 20vw !important;
  margin-right: 15vw !important;
}

// landing screen

.name-written {
  position: absolute;
  z-index: 5;
  top: 30vh;
  div {
    display: block;
    position: relative;
    white-space: nowrap;
  }
}
.name-stroke {
  position: absolute !important;
  z-index: 2;
  img {
    height: 220px;
    width: 75vw;
    min-width: 850px;
    position: absolute;
    top: 30vh;
    left: -13vw;
    margin-top: -30px;
  }
}

.name-title {
  font-family: $secondary-font;
  color: $dark;
  font-size: 120px;
  line-height: 100px;
  z-index: 7;
}

.name-subtitle {
  font-family: $primary-font;
  color: $white;
  font-size: 41px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: 7px;
  z-index: 6;
  margin-left: 2px;
}

.snippet {
  line-height: 32px;
  margin-top: 72px;
  padding-left: 16px;
  border-left: 2px solid $yellow;
  p {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    display: inline;
    white-space: normal !important;
    background-color: #fff;
    color: $dark;
  }
  span {
    font-weight: 500;
  }
}

.landing-leaf-box {
  z-index: 0;
  transform: rotate(15deg);
  position: absolute;
  right: 5vw;
  top: -50px;
  :after {
    z-index: 0;
  }
  .landing-leaf {
    max-height: 85vh;
  }
}

// contacts

.landing-bottom-box {
  margin-top: 40vh;
  > div {
    display: flex;
    justify-content: space-around;
  }
  #contact-box {
    margin-bottom: 16px;
  }
}

.contact-button {
  margin: 0px 8px;
  display: flex;
  justify-content: center;
  .contact-item {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: $white;
    border: 2px solid $green;
    border-radius: 4px;
    margin: auto;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    -moz-box-shadow: 0px 0px 3px rgba(256, 256, 256, 1);
    -webkit-box-shadow: 0px 0px 3px rgba(256, 256, 256, 1);
    box-shadow: 0px 0px 3px rgba(256, 256, 256, 1);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      -moz-box-shadow: $shadow-small;
      -webkit-box-shadow: $shadow-small;
      box-shadow: $shadow-small;
      transform: scale(1.05);
      transition: 0.3s;
      transition-timing-function: ease-in-out;
    }
    &:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      transform: scale(1);
      transition: 0.1s;
      transition-timing-function: ease-in-out;
    }
    &:visited {
      border: 2px solid $green;
    }
    svg {
      width: 28px;
      height: 28px;
      fill: $green;
    }
  }
}

.phrase-box {
  margin-top: 48px;
  margin-bottom: -64px;
  text-align: center;
  border: 2px solid $moss;
  background-color: $white;
  line-height: 22px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  .phrase-text {
    padding: 32px 16px 0px 16px !important;
    color: $green;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    animation: fadeInOutPhrase 15s ease-in-out 0s infinite normal backwards;
  }
  .phrase-author {
    padding: 0px 16px 32px 16px !important;
    margin-top: 6px;
    color: $moss;
    font-size: 16px;
    font-weight: 400;
    animation: fadeInOutPhrase 15s ease-in-out 0s infinite normal forwards;
  }
}

@keyframes fadeInOutPhrase {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quotation {
  position: absolute;
  margin-top: 24px;
  font-size: 60px;
  font-weight: 900;
  text-shadow: 2px 0 0 $moss, -2px 0 0 $moss, 0 2px 0 $moss, 0 -2px 0 $moss,
    1px 1px $moss, -1px -1px 0 $moss, 1px -1px 0 $moss, -1px 1px 0 $moss;
  color: $white;
  z-index: 1;
}

#landing-email-popup {
  position: absolute;
  top: -48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: $dark;
  padding: 8px 24px;
  background-color: $bege;
  white-space: nowrap;
  opacity: 0;
  div {
    display: inline;
    font-weight: 600;
    width: 158px;
  }
  &.show {
    animation: fadeInOutVertical 5s ease-in-out 0s 1 normal backwards;
  }
}

@keyframes fadeInOutVertical {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(-16px);
  }
  90% {
    opacity: 1;
    transform: translateY(-16px);
  }
  100% {
    opacity: 0;
    transform: translateY(-32px);
  }
}

.smartphone-under-construction-div {
  display: none;
}

.error404-bkgr {
  background-color: $white;
  height: 40vh;
  margin: 30vh auto;
  -moz-box-shadow: $shadow-big;
  -webkit-box-shadow: $shadow-big;
  box-shadow: $shadow-big;
  display: flex;
  justify-content: center;
  align-items: center;
  #error404-text {
    border: 1px solid $green;
    padding: 16px 32px;
    display: block;
    text-align: center;
    color: $dark;
    font-weight: 300;
    font-size: 20px;
    span {
      font-size: 64px;
      font-weight: 500;
      display: block;
    }
  }
}
