$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #f0ebc2;
$yellow: #c2ad0a;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

// menu

.flex-column {
  justify-content: center;
  border-right: 2px solid $green;
  background-color: $white;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  padding-top: 60px;
}

.nav-item-box {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  &:not(.selected):hover {
    padding-left: 16px;
    transition: 0.2s;
  }
  img {
    position: absolute;
    width: 110%;
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: bottom center;
  }
  img.transition {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
  &.selected a {
    color: $white !important;
    font-weight: 500;
    z-index: 1;
    transition: 0.2s;
  }
}

.nav-link {
  margin: 32px 16px !important;
  padding: 0px !important;
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: $green !important;
}

.brand-div {
  position: absolute;
  top: 16px;
  z-index: 10;
  transition: 1s;
  display: flex;
  cursor: pointer;
  &.appear {
    left: 0px;
  }
  &.hide {
    left: -300px;
  }
}

.brand-box {
  border: 2px solid $green;
  border-left: none;
  background-color: $white;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
  div {
    margin: 0px 34px;
    display: block;
    position: relative;
  }
  .brand-title {
    font-family: $secondary-font;
    font-size: 40px;
    line-height: 48px;
    color: $green;
  }
  .brand-subtitle {
    font-size: 16px;
    line-height: 20px;
    color: $green;
    margin-bottom: 6px;
    letter-spacing: 3px;
    margin-top: -6px;
  }
}

.brand-leaf-box {
  position: absolute;
  top: 50px;
  transition: 0.5s;
  left: 95px;
  z-index: 1;
  .brand-leaf {
    height: 135px;
  }
  &.appear {
    transition-delay: 1s;
    -webkit-transform: scale(-1, 1) rotate(60deg);
    transform: scale(-1, 1) rotate(60deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
  }
  &.hide {
    -webkit-transform: scale(-0.7, 0.7) rotate(100deg);
    transform: scale(-0.7, 0.7) rotate(100deg);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
  }
}

#contact-fixed-div {
  &.hidden {
    opacity: 0;
    transition: 1s;
    transform: translateY(-20px);
  }
  &:not(.hidden) {
    opacity: 1;
    transition: 1s;
    transform: translateY(0px);
  }
  position: fixed;
  right: 24px;
  bottom: 48px;
  transition-timing-function: ease-in-out;
  #contact-fixed-box {
    .contact-fixed {
      display: flex;
      width: 40px;
      height: 40px;
      background-color: $white;
      border: 2px solid $green;
      border-radius: 4px;
      margin: auto;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 3px rgba(256, 256, 256, 1);
      cursor: pointer;
      &:hover {
        -moz-box-shadow: $shadow-small;
        -webkit-box-shadow: $shadow-small;
        box-shadow: $shadow-small;
        transform: scale(1.05);
        transition: 0.3s;
        transition-timing-function: ease-in-out;
      }
      svg {
        width: 28px;
        height: 28px;
        fill: $green;
      }
    }
  }
}
