$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #fce9c0;
$yellow: #edbc0b;
$brown: #886006;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

// portfolio

#portfolio-div {
  margin-top: 250px;
  background-color: $green;
  height: 100vh;
  padding: 10vh 0px;
}

#leafage {
  position: absolute;
  img {
    position: absolute;
    height: 150px;
  }
}

#portfolio-box {
  height: 80vh;
  #portfolio-menu {
    margin: auto;
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 22px;
    background-color: #3d662a99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      transition: 0.3s;
      color: $white;
      margin: 8px 8px !important;
      cursor: pointer;
    }
    div {
      &:hover {
        color: $bege;
        text-shadow: 0px 1px 2px $yellow;
      }
      &:active {
        color: $bege;
        text-shadow: none;
      }
    }
    .selected {
      color: $bege;
    }
  }

  #all-cases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow: hidden;
    overflow-x: auto;
    .case-card {
      max-width: 20vw;
      max-height: 20vh;
      margin: 8px;
      background-color: $white;
      transition: 0.5s;
      &.hide {
        opacity: 0.5;
        transform: scale(0.95);
      }
      &:hover {
        transform: scale(1.03);
        box-shadow: $shadow-big;
        img {
          opacity: 0.5;
        }
        .card-title {
          opacity: 1;
        }
      }
      &:active {
        transform: scale(1);
        box-shadow: none;
        .card-title {
          opacity: 1;
        }
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 20vw;
        max-height: 20vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .card-title {
          position: absolute;
          color: $dark;
          opacity: 0;
          transition: 0.3s;
        }
        img {
          max-width: 20vw;
          max-height: 20vh;
        }
      }
    }
  }
}

// under construction

.back-arrow {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  margin-left: -8.333333%;
  svg {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    fill: $dark;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      -webkit-filter: drop-shadow(0px 4px 2px rgba(1, 38, 11, 0.8));
      filter: drop-shadow(0px 4px 2px rgba(1, 38, 11, 0.8));
    }
    &:active {
      transform: scale(1);
      -webkit-filter: none;
      filter: none;
    }
  }
}

/* Scrollbar style for Chrome */

/* Track */
*::-webkit-scrollbar {
  width: 12px;
}

/* Thumb */

*::-webkit-scrollbar-thumb {
  background-color: $bege; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid $green; /* creates padding around scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: $yellow;
}

::-webkit-scrollbar-thumb:active {
  background-color: $yellow;
}

/* Buttons */
::-webkit-scrollbar-button {
  border-style: solid;
  height: 12px;
  width: 12px;
}

/* Left */
::-webkit-scrollbar-button:horizontal:start:decrement {
  border-width: 7px 7px 7px 7px;
  border-color: transparent $bege transparent transparent;
}
::-webkit-scrollbar-button:horizontal:start:increment {
  border-color: transparent;
  width: 4px;
}

/* Right */
::-webkit-scrollbar-button:horizontal:end:increment {
  border-width: 7px 7px 7px 7px;
  border-color: transparent transparent transparent $bege;
}

::-webkit-scrollbar-button:horizontal:end:decrement {
  border-color: transparent;
  width: 4px;
}

/* top */
::-webkit-scrollbar-button:vertical:start:decrement {
  border-width: 7px 7px 7px 7px;
  border-color: transparent transparent $green transparent;
}
::-webkit-scrollbar-button:vertical:start:increment {
  border-color: transparent;
  width: 4px;
}

/* bottom */
::-webkit-scrollbar-button:vertical:end:increment {
  border-width: 7px 7px 7px 7px;
  border-color: $green transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  border-color: transparent;
  width: 4px;
}
