$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #f0ebc2;
$yellow: #c2ad0a;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

// process

#process-div {
  margin-top: 250px;
  margin-bottom: 1000px;
}

#process-intro {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  font-weight: 400;
  text-indent: 40px;
  margin-bottom: 40px;
  > :not(:last-child) {
    padding-right: 40px !important;
  }
  span {
    font-weight: 700;
    color: $dark;
    opacity: 0.6;
  }
}

#process {
  margin: auto;

  #img-div {
    -moz-box-shadow: $shadow-big;
    -webkit-box-shadow: $shadow-big;
    box-shadow: $shadow-big;
    background-color: $white;
    padding: 8px !important;
    margin: auto;
  }

  #process-img {
    width: 100%;
  }
}

#process-spaces {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  > div {
    -moz-box-shadow: $shadow-big;
    -webkit-box-shadow: $shadow-big;
    box-shadow: $shadow-big;
    background-color: $white;
    max-width: 48%;
    padding: 16px 16px 24px 16px !important;
    .process-title {
      color: $yellow;
      font-family: $secondary-font;
      font-size: 20px;
    }
    .process-body {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      > div {
        margin-top: 8px;
        margin-left: 16px;
      }
      span {
        color: $yellow;
        font-weight: 500;
      }
    }
  }
}
