$primary-font: "Montserrat", sans-serif !important;
$secondary-font: "Stylish", serif;

$white: #fff;
$dark: #01260b;
$green: #3d662a;
$moss: #96a478;
$light-green: #cbd2bc;
$bege: #fce9c0;
$yellow: #edbc0b;
$brown: #886006;

$shadow-small: 0px 2px 8px rgba(1, 38, 11, 0.2),
  0px 4px 10px rgba(1, 38, 11, 0.1);

$shadow-big: 0px 4px 20px rgba(1, 38, 11, 0.25),
  0px 4px 40px 5px rgba(1, 38, 11, 0.15);

// process

#process-div {
  margin-top: 120px;
  padding-top: 130px;
  margin-bottom: 100px;
}

#process-intro {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  font-weight: 400;
  text-indent: 40px;
  padding: 40px 40px 72px 40px !important;
  margin-bottom: -40px;
  border: 2px solid $bege;

  > :nth-child(3) {
    padding-right: 40px !important;
  }
  #process-title {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    text-indent: 0px;
    div {
      margin: auto;
      margin-top: -72px;
      padding: 16px 40px;
      background-color: $moss;
      color: $bege;
      font-family: $secondary-font;
      font-size: 24px;
    }
  }

  #leafsmallbege-div {
    position: absolute;
    right: 200px;
    img {
      position: absolute;
      height: 120px;
      transform-origin: top right;
      &.top {
        top: -16px;
        transform: scaleX(-1) rotate(100deg);
      }
      &.bottom {
        top: -16px;
        transform: scaleX(-1) rotate(70deg);
      }
    }
  }

  span {
    font-weight: 700;
    color: $dark;
    opacity: 0.6;
  }
}

#process {
  margin: auto;
  #img-div.hidden {
    opacity: 0;
    transform: translateX(-24px);
  }

  #img-div {
    -moz-box-shadow: $shadow-big;
    -webkit-box-shadow: $shadow-big;
    box-shadow: $shadow-big;
    background-color: $white;
    padding: 8px !important;
    margin: auto;
    transition: 0.5s ease-in-out;
  }

  #process-img {
    width: 100%;
  }
}

#process-spaces {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;

  #problem-space {
    transition: 0.5s ease-in-out 0.2s;
    opacity: 1;
    margin-bottom: 24px;
    margin-left: calc(-100% / 24);
  }

  #solution-space {
    transition: 0.5s ease-in-out 0.4s;
    opacity: 1;
    margin-left: calc(100% / 24);
  }
  .hidden {
    opacity: 0 !important;
    transform: translateX(-24px);
  }
  > div {
    -moz-box-shadow: $shadow-big;
    -webkit-box-shadow: $shadow-big;
    box-shadow: $shadow-big;
    background-color: $white;
    padding: 16px 16px 24px 16px !important;
    .process-title {
      color: $yellow;
      font-family: $secondary-font;
      font-size: 20px;
    }
    .process-body {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      > .process-phases {
        margin: 8px 0px 16px 16px;
        > div {
          margin-top: 16px;
          display: flex;
          justify-content: space-around;
        }
        > span {
          color: $white;
          font-weight: 500;
          z-index: 2;
          position: relative;
        }
        > img {
          margin-left: -56px;
          margin-top: -2px;
          width: 160px;
          height: 24px;
          position: absolute;
          z-index: 1;
        }
        .process-questions {
          display: block;
          max-width: 60%;
          padding-right: 5%;
          span {
            color: $green;
            font-weight: 500;
            font-style: italic;
          }
        }
        .process-tools {
          display: block;
          max-width: 40%;
          padding-left: 5%;
          border-left: 2px solid $green;
          span {
            color: $green;
            font-weight: 500;
            font-style: italic;
          }
        }
      }
    }
  }
}
